<div class="order-summary">
    <h2>Order Summary</h2>
    <h3>Shipping Details:</h3>
    <p>Name: {{ shippingData?.name }}</p>
    <p>Address: {{ shippingData?.address }}</p>
    <p>Pincode: {{ shippingData?.pincode }}</p>
    <p>Contact: {{ shippingData?.contact }}</p>
  
    <h3>Order Details:</h3>
    <div *ngFor="let product of cartItemsKeys()">
      <div class="order-item">
        <h4>{{ product.title }}</h4>
        <p>Price: {{ product.price }} USD</p>
        <p>Quantity: {{ getProductFrequency(product) }}</p>
        <p>Total: {{ calculateTotal(product) }} USD</p>
      </div>
    </div>
  
    <div class="total">
      <p><b>Grand total:</b> {{ calculateGrandTotal() }} USD</p>
      <button mat-raised-button color="primary" type="button" (click)="confirmOrder()">Confirm Order</button>
    </div>
  </div>
  