<div class="cart-container">
  <h2>Your Cart</h2>
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-item" *ngFor="let productId of countMapKeys()">
      <div class="cart-item-details">
        <img [src]="getProduct(productId)?.image" alt="Product" class="cart-item-image">
        <div class="cart-item-info">
          <h3>{{ getProduct(productId)?.title }}</h3>
          <p>Price: {{ getProduct(productId)?.price }} USD</p>
          <div class="counter">
            <button (click)="increment(productId)">+</button>
            <p>{{ countMap.get(productId) }}</p>
            <button (click)="decrement(productId)">-</button>
          </div>
          <p>Total: {{ calculateTotal(productId) }} USD</p>
          <button mat-raised-button color="primary" type="buyNow" (click)="buyNow(productId)">Buy Now</button>
          <br><br>
          <button mat-raised-button color="primary" type="removeFromCart" (click)="removeFromCart(productId)">Remove from cart</button>
        </div>
      </div>
    </div>
  <div class="total">
  <button mat-raised-button color="primary" type="buyAll" *ngIf="cartItems.length > 0" (click)="buyAll()">Buy All</button>
  <p>Grand total: {{ calculateGrandTotal() }} USD</p>
  </div>

  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>
</div>