<!-- <app-navbar></app-navbar> -->

<div class="product-details-container" *ngIf="product">
  <div class="product-details">
    <img [src]="product.image" alt="Product" class="product-image">
    <div class="product-info">
      <h2>{{ product.title }}</h2>
      <p><b>Price:</b> {{ product.price }} USD</p>
      <p><b>Description:</b> {{ product.description }}</p>
      <p><b>Category:</b> {{ product.category }}</p>
      <p *ngIf="product.rating"><b>Rating:</b> {{ product.rating.rate }}</p>
      <p *ngIf="product.rating"><b>Rating Count:</b> {{ product.rating.count }}</p>
      <br><br>
      <div class="button1">
        <button mat-raised-button color="primary" type="addToCart" (click)="onAddToCartClick()">Add to Cart</button>
        <br>
        <div class="message" *ngIf="showMessage">
          <b>Product added to cart! 🎉🎉</b>
        </div>
      </div>
      <br>
      <div class="button2">
        <button mat-raised-button color="primary" type="viewCart" (click)="onViewCartClick()">View Cart</button>
      </div>
    </div>
  </div>
</div>
