.product-details-container {
  display: flex;
  margin: 3%;
  align-items: center;
  height: auto;
  border-radius: 2px;
}
  
.product-image {
  max-width: 400px;
  max-height: 400px;
  margin: 2%;
}
  
button[type="addToCart"],button[type="viewCart"]{
  margin: 2%;
  height: 2rem;
  font-size: 1.3rem;
  color: whitesmoke;
  background-color: rgb(40, 116, 240);
}

.btn{
  margin-top: 12%;
  display: flex;
  justify-content: flex-end;
}