.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40, 116, 240);
  width: 100%;
  height: 11%;
  margin-bottom: 3rem;
}

.left{
  font-size: 1.5rem;
  font-weight: bold;
}
.active-link {
  /* border-bottom: 3px solid transparent; */
  color: yellow;
  transition: border-bottom 0.3s ease;
}

.active-link:hover {
  border-bottom-color: rgb(193, 70, 70);
}

.active-link:focus {
  border-bottom-color: rgb(193, 70, 70);
}

.active-link.active {
  border-bottom-color: rgb(193, 70, 70);
}


a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.left {
  margin-left: 1rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

sup{
  color: white;
  background-color: red;
  height: 10px;
  width: 50px;
}
