<mat-toolbar color="primary" class="mat-toolbar">
    <div class="left">
      <a routerLink="/" routerLinkActive="active-link">Apni Dukaan</a>
    </div>

    <div class="right">
        <div><a routerLink="/products" routerLinkActive="active-link">Products</a></div>
        <div class="cart" >
          <a routerLink="/cart" routerLinkActive="active-link">
            <mat-icon class="mat-18">shopping_cart</mat-icon>
            <sup>{{ countCartItem }}</sup> 
          </a>
        </div>
        
        <div class="login" *ngIf="!isAuthenticated()">
          <a routerLink="/login" routerLinkActive="active-link">Login</a>
        </div>
        <div class="login" *ngIf="isAuthenticated()">
          <a (click)="logout()">Logout</a>
        </div>
    </div>
</mat-toolbar>
