.toolbar{   
  background-color: rgb(40, 116, 240);
}
mat-toolbar {
  margin-bottom: 50px;
  /* position: fixed;
  z-index: 1000; */
}

a {
  text-decoration: none;
  color: white;
  
}

.nav-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li{
margin-left: 30px;
margin-right: 30px;
}
.cart{
  margin-left: 80%;
}
.login{
  margin-left:90%;
}
 