<div class="product-list">
  <div class="product" *ngFor="let product of products">
    <mat-card class="product-card">
      <img mat-card-image [src]="product.image" alt="Product" class="product-image">
      <mat-card-content class="product-details">
        <div class="title">
          <h4>{{ product.title }}</h4>
        </div>
        <div class="para">
          <p>Category: {{ product.category }}</p>
          <p>Price: {{ product.price }} $</p>
        </div>
      </mat-card-content>
      <div class="product-actions">
        <button mat-raised-button color="primary" (click)="goToProductDetails(product.id)" type="viewDetails">View Details</button>
      </div>
    </mat-card>
  </div>
</div>
