.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .product {
    flex: 1;
    min-width: 300px;
    max-width: 300px;
    
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ccc;
  }
  
  .product-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 100%;
  }
  
  
  .mat-card-content {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  button[type="addToCart"] {
    align-items: center;
    color: whitesmoke;
    background-color: rgb(40, 116, 240);
  }
  