<!-- <app-navbar></app-navbar> -->
<div class="product-details-container" *ngIf="product">
    <img [src]="product.image" alt="Product" class="product-image">
    <div class="product-info">
      <h3>{{ product.title }}</h3>
      <p><b>Description:</b> {{ product.description }}</p>
      <p><b>Category:</b> {{ product.category }}</p>
      <p><b>Price:</b> {{ product.price }} $</p>
      <p *ngIf="product.rating"><b>Rating:</b> {{ product.rating.rate }}</p>
      <p *ngIf="product.rating"><b>Rating Count:</b> {{ product.rating.count }}</p>

      <div class="btn">
        <button mat-raised-button color="primary" type="addToCart" (click)="onAddToCartClick()">
         <p>Add to <mat-icon class="mat-18">shopping_cart</mat-icon></p> 
        </button>

        <button mat-raised-button color="primary" type="viewCart" (click)="onViewCartClick()">
          <p>View  <mat-icon class="mat-18">shopping_cart</mat-icon></p>
        </button>
      </div>

    </div>
</div>
