<div class="paymentContainer">
  <h1 class="head">Enter Credit/Debit Card Details</h1>
  <form [formGroup]="paymentForm" (ngSubmit)="onSubmitPayment()" class="form">
    <mat-form-field class="mat-form-field">
      <input matInput id="card-number" formControlName="cardNumber" required placeholder="1234 5678 9012 3456" class="custom-placeholder">
      <mat-label>Card Number</mat-label>
      <mat-error *ngIf="isFieldInvalid('cardNumber')" class="error">Card Number is required</mat-error>
    </mat-form-field>
    <mat-form-field class="mat-form-field">
      <input matInput id="expiration-date" formControlName="expirationDate" required placeholder="MM/YYYY" class="custom-placeholder">
      <mat-label>Expiration Date</mat-label>
      <mat-error *ngIf="isFieldInvalid('expirationDate')" class="error">Expiration Date is required</mat-error>
    </mat-form-field>
    <mat-form-field class="mat-form-field">
      <input matInput id="cvv" formControlName="cvv" required placeholder="123" class="custom-placeholder">
      <mat-label>CVV</mat-label>
      <mat-error *ngIf="isFieldInvalid('cvv')" class="error">CVV is required</mat-error>
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="paymentForm.invalid">Proceed</button>
  </form>
  
</div>