<div class="container">
  <h2>Proceed to payment details</h2>
<mat-form-field class="custom-mat-form-field">
    <mat-label>Select Payment Method</mat-label>
    <mat-select class="custom-mat-select">
      <mat-option value="one">UPI</mat-option>
      <mat-option value="two">Wallet/Postpaid</mat-option>
      <mat-option value="three">Credit/Debit/ATM Card</mat-option>
      <mat-option value="four">Net Banking</mat-option>
      <mat-option value="five">Cash on Delivery</mat-option>
      <mat-option value="six">EMI (Easy Installments)</mat-option>
    </mat-select>
</mat-form-field>
</div>